.modal .modal-header{
	background-color: #ecf0f5;
	border-bottom-color: #00a65a;
}
.modal .modal-footer{
	background-color: #f9f9f9;
}
#modalEntry .modal-dialog{
	width: 80%;
}
.invoice{
	margin-bottom: 0;
}
@media print {
	body { font-size: 14px }
	h2.page-header{
		font-size: 20px;
		font-weight: bold;
	}
	a[href]:after {
		content: none !important;
	}
	.table-responsive > .table tr th,
	.table-responsive > .table tr td {
		white-space: normal !important;
		padding: 1px !important;
	}
	.table-responsive > .table tr th.text-nowrap,
	.table-responsive > .table tr td.text-nowrap {
		white-space: nowrap !important;
	}
}