.modal .modal-header{
	background-color: #ecf0f5;
	border-bottom-color: #00a65a;
}
.modal .modal-footer{
	background-color: #f9f9f9;
}
#modalEntry .modal-dialog{
	width: 80%;
}
.invoice{
	margin-bottom: 0;
}
@media print {
	body { font-size: 9px }
	h2.page-header{
		font-size: 14px;
	}
	a[href]:after {
		content: none !important;
	}
}