html {
	position: relative;
	min-height: 100%;
}
body{
	background: #fafbfb;
	font-size: 14px;
	font-family: Arial, sans-serif;
}
a:hover {
	text-decoration: none;
}
input, textarea{
	border-radius: 0 !important;
}
.btn{
	border-radius: 0 !important;
}
.btn-default:hover{
	background-color: #eaab00;
	border-color: #eaab00;
}


header{
	border-bottom: solid 5px #eaab00;
}
header a, header a:hover{
	color: #eaab00;
}
#topbar{
	background: #e7eeef;
	height: 48px;
	color: #003946;
}
#topbar ul{
	margin: 15px 0 0 0;
}
#topbar ul li:first-child{
	border-right: solid 1px #fff;
}
#topbar a{
	color: #003946;
}
#topbar #cart-total{
	color: #fff;
	background: #eaab00;
	border-radius: 50%;
	display: inline-block;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	overflow: hidden;
}
#logo{
	padding-top: 4px;
	padding-bottom: 14px;
}
.support{
	height: 50px;
	float: left;
	vertical-align: middle;
	margin: 25px 0 0 25px;
	padding-top: 5px;
}
.support a{
	padding-left: 60px;
	display: block;
	text-align: center;
}
.customer_service{
	background: url('/frontend/images/icon_cskh.png') left center no-repeat;
	background-size: 50px;
	
}
.chat_online{
	background: url('/frontend/images/icon_chatonline.png') left center no-repeat;
	background-size: 50px;
}
.question_answer{
	background: url('/frontend/images/icon_qa.png') left center no-repeat;
	background-size: 50px;
	line-height: 45px;
}

nav ul{
	margin: 0;
	background:#003946;
	margin-left: 0 !important;
}
nav ul>li{
	padding: 0 !important;
	margin: 0;
	margin-left: -5px;
}
nav ul>li:hover{
	background-color: #eaab00;
}
nav ul>li>a, nav ul>li>a:hover{
	text-transform: uppercase;
	border-right: solid 1px #fff;
	color: #fff;
	line-height: 39px;
	padding: 0 30px;
}
nav ul>li:hover>a{
	border-color: transparent;
}
nav ul>li>a.last{
	border-right: none;
}
/************ MAIN SECTION *****************/
.bg-gradient{
	background: #dde4e5;
	background: -moz-linear-gradient(top, #dde4e5 0%, #fafbfb 50%, #fafbfb 51%, #fafbfb 71%, #fafbfb 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #dde4e5), color-stop(50%, #fafbfb), color-stop(51%, #fafbfb), color-stop(71%, #fafbfb), color-stop(100%, #fafbfb));
	background: -webkit-linear-gradient(top, #dde4e5 0%, #fafbfb 50%, #fafbfb 51%, #fafbfb 71%, #fafbfb 100%);
	background: -o-linear-gradient(top, #dde4e5 0%, #fafbfb 50%, #fafbfb 51%, #fafbfb 71%, #fafbfb 100%);
	background: -ms-linear-gradient(top, #dde4e5 0%, #fafbfb 50%, #fafbfb 51%, #fafbfb 71%, #fafbfb 100%);
	background: linear-gradient(to bottom, #dde4e5 0%, #fafbfb 50%, #fafbfb 51%, #fafbfb 71%, #fafbfb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dde4e5', endColorstr='#fafbfb', GradientType=0 );
}


.categories-link img{
	margin-top: 30px;
	width: 100%;
}
.categories-link img:hover{
	border: solid 1px #eaab00;
}
ul.categories{
	margin: 0;
	margin-left: 0 !important;
	width: 100%;
	display: table;
}
ul.categories>li{
	padding: 0 !important;
	margin: 0;
	width: 20%;
	display: table-cell;
}
ul.categories>li>a{
	text-transform: uppercase;
	color: #58595b;
	line-height: 39px;
	display: block;
	position: relative;
}
ul.categories>li>a:before{
	content:"|";
	color:#eaab00;
	position: absolute;
	left: -1px;
	top: -1px;
}
ul.categories>li.active{
	background: #eaab00;
}
ul.categories>li:hover{
	background: #fad87f;
}
ul.categories>li.active a, ul.categories>li:hover a{
	color: #003946;
}
ul.categories>li.active + li>a:before, ul.categories>li:hover + li>a:before { 
	content:"";
}
ul.categories>li:first-child>a:before, ul.categories>li.active>a:before, ul.categories>li:hover >a:before { 
	content:"";
}
.products-item{
	margin-top: 30px;
}
.products-item-thumbnail img{
	width: 100%;
}
.products-item-price{
	font-size: 24px;
	font-weight: bold;
	color: #58595b;
	padding: 0 10px;
}
.products-item-price small{
	font-size: 12px;
	font-weight: normal;
}
.products-item-name{
	padding: 15px 10px 0 10px;
}
.products-item-name a{
	color: #808285;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #eaab00;
	border-color: #eaab00;
	color:#003946;
}
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span{
	border-radius: 0;
}

h1.product-title,
h1.article-title{
	color: #003946;
	font-size: 24px;
	font-weight: bold;
	margin-top: 27px;
	margin-bottom: 23px;
}
.product-thumbnail{
	margin-bottom: 17px;
}
.bx-wrapper{
	margin-bottom: 0 !important;
}
.product-price{
	color:#003946;
	font-size: 24px;
	font-weight: bold;
	margin: 20px 0;
}
.product-price small{
	color:#003946;
	font-size: 18px;
	font-weight: normal;
}
.product-promotion{
	margin-bottom: 42px;
}
.product-promotion a{
	color: #003946;
}
.product-promotion span, .product-action span{
	font-size: 12px;
	color: #003946;
}
.product-action button{
	border: none;
	border-radius: 0;
	padding: 0 35px;
	text-transform: uppercase;
	font-size: 18px;
	color: #003946;
	background: #eaab00;
	line-height: 39px;
}
.product-action button.goshoppingcart{
	background: #003946;
}
.product-action button span{
	display: inline-block;
	height: 30px;
	width: 30px;
	font-size: 18px;
	font-weight: bold;
	border: solid 1px #eaab00;
	border-radius: 50%;
	color: #fff;
	background: #eaab00;
	line-height: 30px;
	margin-top: 5px;
}
.product-description .nav-tabs{
	border-bottom: none;
	border-top: solid 1px #eaab00;
}
.product-description .nav-tabs>li>a{
	background: #bdbdbd;
	border: none;
	border-radius: 0;
	color: #58595b;
	font-size: 18px;
	margin-right: 0;
}
.product-description .nav-tabs>li.active>a, .product-description .nav-tabs>li.active>a:focus, .product-description .nav-tabs>li.active>a:hover{
	background: #eaab00;
	color: #003946;
	border: none;
}
.product-description .tab-pane{
	padding: 35px;
	border-bottom: solid 1px #eaab00;
}
.product-review{
	padding: 23px 55px;
}
.product-review-summary{
	color: #737373;
}

form input, form textarea{
	border-radius: 0 !important;
	border-color: #ccc !important;
	padding: 6px 10px !important;
}
form label{
	color: #404040;
	font-weight: normal;
}
form button{
	border: none !important;
	border-radius: 0 !important;
	padding: 0 35px !important;
	color: #003946 !important;
	background: #eaab00 !important;
	line-height: 39px !important;
}
body.loginpage h1{
	font-weight: bold;
	color: #eaab00;
	text-align: center;
}
body.loginpage h3{
	color:#003946;
	font-size: 17px;
	text-align: left;
	font-weight: bold;
}
body.loginpage form{
	margin-top: 30px;
}
body.loginpage form input{
	border-radius: 0 !important;
	color: #003946 !important;
	border-color: #eaaa00 !important;
	padding: 6px 10px !important;
	background: #fcfcfc !important;
}
body.loginpage form input.verifycode{
	background: #e1e7e9 !important;
	text-align: center;
	border-color: #e1e7e9 !important;
	margin-left: 5px;
}
body.loginpage form button{
	font-size: 14px !important;
}
body.loginpage a{
	color:#003946;
}
body.loginpage .form-group{
	margin-bottom: 5px;
}
body.loginpage .form-link{
	margin-top: 33px;
}
body.loginpage {
	/*background: url('/frontend/images/bg_login.jpg') no-repeat 150% 100% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	background: url('/frontend/images/bg_login.jpg');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 70%;
	/* Margin bottom by footer height */
	margin-bottom: 202px;
}
body.loginpage header{
	background: #fff;
}
body.loginpage form label{
	color: #003946;
}

ul.checkout-step{
	margin: 10px 0;
	padding: 0;
	width: 100%;
	display: table;
	position: relative;
}
ul.checkout-step>li{
	text-align: center;
	padding: 0 !important;
	margin: 0;
	width: 20%;
	display: table-cell;
	font-size: 18px;
	color: #003946;
}
ul.checkout-step>li:before{
	border: solid 1px #82a7af;
	position: absolute;
	top: 35%;
	z-index: -1;
	left: 0;
	content: " ";
	display: block ;
	width: 100%;
}
ul.checkout-step>li>span{
	display:block;
	width: 36px;
	height: 36px;
	background: #bdbdbd;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	border-radius: 50%;
	line-height: 36px;
	margin: auto;
}
ul.checkout-step>li.active>span{
	background: #eaab00;
}

table.shoppingcart{
	margin-bottom: 10px;
}
table.shoppingcart>tbody>tr>td{
	vertical-align: middle;
}
table.shoppingcart td.head{
	background: #fad87f;
	color: #003946;
	font-weight: bold;
}
table.shoppingcart td.no-border{
	border: none;
}
table.shoppingcart .checkbox{
	margin:0;
}
.shipping-form,
.invoice-form{
	display: none;
}
table.shoppingcart .delivery-method{
	border: solid 1px #ccc;
	padding: 10px;
	cursor: pointer;
}
table.shoppingcart .delivery-method.active{
	background:#fad87f;
}
table.shoppingcart .delivery-method strong{
	font-size: 20px;
}
.payment-method{
	border: solid 1px #ccc;
	padding: 10px;
	cursor: pointer;
	display: table-cell;
	width: 20%;
}
.payment-method.active{
	background: #fad87f;
}
.payment-method img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: auto;
}
.btn-shopping{
	background: #003946;
	border-color: #003946;
	color: #fff;
	font-size: 14px;
}
.btn-arrow{
	position: relative;
}
.btn-arrow span{
	position: absolute;
	color: #fff;
	right: 5px;
	top: 15%;
	font-size: 250%;
}
form#fromCheckout button{
	border: none !important;
	border-radius: 0 !important;
	padding: 7px 35px !important;
	font-size: 14px !important;
	background: #003946 !important;
	border-color: #003946 !important;
	color: #fff !important;
	line-height: 18px !important;
}
form#fromCheckout button:hover{
	background-color: #eaab00 !important;
	border-color: #eaab00 !important;
	color: #333 !important;
}
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.content-bottom{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: right;
}
.pb-10{
	padding-bottom: 10px;
}
.article-item{
	margin: 15px 0;
}
.article-item-title{
	color: #003946;
	font-weight: bold;
	text-align: left;
}
.article-item-title a{
	color: #003946;
}
body.thanhyou footer{
	margin-top: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 163px;
}



/************ FOOTER *****************/
footer{
	border-top: solid 5px #eaab00;
	background:#e7eeef;
	font-size: 12px;
	color: #003946;
	padding: 0;
	margin-top: 25px;
	padding-bottom: 25px;
}
footer a{
	color: #003946;
}
body.loginpage footer{
	background-color: #eaab00;
	border-color: #eaab00;
	color: #fff;
	margin-top: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-bottom: 0;
	/* Set the fixed height of the footer here */
	height: 202px;
}
body.loginpage footer .container{
	padding-bottom: 15px;
}
body.loginpage footer ul{
	margin-top: 45px;
}
body.loginpage footer a{
	color: #fff;
}
body.loginpage footer .register-trade{
	background: #fff;
	color: #003946;
	padding: 15px 0 0 0;
}










.content {
	position: relative;
	width: 90%;
	max-width: 400px;
	margin: auto;
	overflow: hidden;
}

.content .content-overlay {
	background: rgba(0,0,0,0.7);
	position: absolute;
	height: 99%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
	opacity: 1;
}

.content-image{
	width: 100%;
}

.content-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 90%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
	top: 90%;
	left: 50%;
	opacity: 1;
}

.content-details a{
	background: #eaab00;
}
.fadeIn-bottom{
	top: 80%;
}

.fadeIn-top{
	top: 20%;
}

.fadeIn-left{
	left: 20%;
}

.fadeIn-right{
	left: 80%;
}